/****************************Admin*******************************/

#svq_settings .svq_metabox {
	margin: 25px 0;
}
#svq_settings .svq_metabox p {
	font-weight: bold;
	margin: 0;
}
#svq_settings .svq_metabox p > span {
	font-weight: normal;
}
#svq_settings .svq_metabox a {
	text-decoration: none;
	color: #0074a2;
}
#svq_settings .svq_metabox label > input {
	margin-left: 5px;
}
#svq_settings .svq_metabox .button {
	background-color: #dddddd;
	margin: 10px 0;
}
#svq_settings .svq_metabox input {
	max-width: 100%;
}
#svq_settings .svq_input_wrap {
	padding: 5px;
	background-color: #F7F7F7;
	margin: 0 0 5px;
}
#svq_options > p {
	font-weight: bold;
}
#svq_options > div > span {
	vertical-align: middle;
	margin-right: 5px;
}
#svq_settings .svq_metabox_header {
    background-color: #bbb;
    display: -ms-flexbox;
    display: flex;
}
#svq_settings .svq_metabox_header.ui-accordion-header-active{
    background-color: #0074a2;
}
#svq_settings .svq_metabox_header > span {
	color: #fff;
	display: inline-block;
    padding: 5px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
#svq_settings .svq_metabox_content.ui-accordion-content {
    padding: 0;
}
#svq_settings span.svq_playlist_position {
	cursor: move;
}
#svq_settings span.svq_accordion {
	-ms-flex-positive: 2;
	flex-grow: 2;
}
#svq_settings span.svq_accordion span:first-child {
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: transform 0.2s linear 0s
}
#svq_settings .ui-accordion-header-active span.svq_accordion span:first-child {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#svq_settings .svq_metabox_header span:hover {
    color: #23282d;
}
#svq_settings .svq_poster_thumb > img {
	max-width: 160px;
	max-height: 90px;
}
#svq_settings .svq_clear_input {
	cursor: pointer;
	background-image: url('../img/svq_remove.gif');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}
#svq_settings .svq_title > div, #svq_settings .svq_ext_link > div, #svq_settings .svq_video_qualities > div, #svq_settings .svq_subtitle > div {
	display: inline-block;
	max-width: 100%;
	margin-right: 15px;
	margin-bottom: 5px;
}
#svq_settings .svq_video_qualities, #svq_settings .svq_subtitle {
	margin: 0 -5px;
	padding: 10px 25px;
	position: relative;
	border-top: 3px solid #fff;
}
#svq_settings .svq_video input + .svq_video_qualities {
    border-color: transparent;
}
#svq_settings input + a > span.dashicons {
	vertical-align: -4px;
	margin-left: 3px;
}
#svq_settings .svq_error {
	color: tomato;
}
#svq_custom_html > label {
	font-weight: bold;
}
#svq_custom_html > textarea {
	width: 100%;
}